<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <!-- jQuery 라이브러리 추가 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        var socket = null;
        $(document).ready(function(){
            connect();
        });

        function connect() {
            var ws = new WebSocket("ws://localhost:9090/ws/groupList");
            socket = ws;
            ws.onopen = function() {
                console.log("WebSocket에 연결되었습니다.");
            };

            ws.onmessage = function(event) {
                console.log("서버로부터 메시지: " + event.data);
                var log = document.getElementById("log");
                log.innerHTML += event.data + "<br/>";
                let $socketAlert = $('div#socketAlert');
                $socketAlert.html(event.data);
                $socketAlert.css('display', 'block');

                setTimeout( function() {
                    $socketAlert.css('display', 'none');
                }, 3000);
            };

            ws.onclose = function(event) {
                console.log("WebSocket이 이제 닫혔습니다.");
            };

            ws.onerror = function(err) {
                console.log("WebSocket 오류: ", err);
            };
        }
    </script>
</head>
<body>
<h1>Hello Spring</h1>
<p>게시판</p>
<p>
    <a href="/bulletinboards/new">글작성</a>
    <a href="/bulletinboards">글목록</a>
    <a href="/groupCreate">그룹 생성</a>
    <a href="/groupList">그룹 목록</a>
    <a href="/groupMember">나의 그룹</a>
    <a href="/subscribe">알람</a>
</p>
<div id="socketAlert" class="alert alert-success" role="alert" style="display:none;"></div>
<div id="log"></div> <!-- 서버로부터의 메시지를 표시하는 요소 -->
</body>
</html>
