<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>내용</th>
                <th>상세보기</th>
                <th>수정</th> <!-- 새로운 열 추가 -->
            </tr>
            </thead>
            <tbody>
            <tr th:each="bulletinboard : ${bulletinboards}">
                <td th:text="${bulletinboard.id}"></td>
                <td th:text="${bulletinboard.title}"></td>
                <td th:text="${bulletinboard.content}"></td>

                <!-- 수정 폼으로 이동하는 링크 추가 -->
                <td><a th:href="@{/edit/{id}(id=${bulletinboard.id})}">수정</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
