<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bulletinboard : ${bulletinboards}">
                <td th:text="${bulletinboard.id}"></td>
                <td th:text="${bulletinboard.title}"></td>
                <td th:text="${bulletinboard.content}"></td>
                <!-- 저장된 id를 이용하여 URL 생성 -->
                <td><a th:href="@{/bulletinboardList/{id}(id=${bulletinboard.id})}">상세보기</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
