<!DOCTYPE HTML>
<html>
<head>
    <title>그룹 참여</title>
    <script type="text/javascript">


        var ws;
        function connect() {
            ws = new WebSocket("ws://localhost:9090/ws/groupList");

            ws.onopen = function() {
                console.log("WebSocket에 연결되었습니다.");
            };

            ws.onmessage = function(event) {
                console.log("서버로부터 메시지: " + event.data);
                var log = document.getElementById("log");
                log.innerHTML += event.data + "<br/>";
            };

            ws.onclose = function(event) {
                console.log("WebSocket이 이제 닫혔습니다.");
            };

            ws.onerror = function(err) {
                console.log("WebSocket 오류: ", err);
            };
        }

        function joinGroup(groupId,MName) {
            console.log("그룹 참여 메시지 전송: " + groupId);
            var cmd = "reply";
            var replyWriter = MName; // 가입신청자 ID를 여기에 설정
            var groupWriter = "user1"; // 그룹장의 ID를 여기에 설정
            var bno = groupId;

            var message = cmd + "," + replyWriter + "," + groupWriter + "," + bno;
            ws.send(message);
        }
    </script>
</head>
<body onload="connect();">
<h2>WebSocket Test</h2>
<div class="container">
    <h2>그룹에 참여하기</h2>
    <ul>
        <li th:each="group : ${groups}">
            <span th:text="${group.group_name}"></span>
            <span th:text="' | 현재 인원: ' + ${group.group_num_people} + ' / 최대 인원: ' + ${group.group_max_people}"></span>
            <span th:if="${group.group_private}">
                <!-- 비공개 그룹 폼 -->
            </span>
            <span th:unless="${group.group_private}">
                <!-- 공개 그룹 바로 참여하기 링크에 onclick 이벤트 추가 -->
                <a href="#" th:onclick="'joinGroup(' + ${group.group_id} + ');return false;'">공개 그룹 바로 참여하기</a>
            </span>
        </li>
    </ul>
</div>
<div id="log"></div> <!-- 서버로부터의 메시지를 표시하는 요소 -->
</body>
</html>
